body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-box {
  position: fixed;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border: 3px solid #E18728;
  border-radius: 10px;
  background-color: white;
}

input[type=button] {
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

.dialog-box-button {
  margin-left: auto !important;
  margin-right: auto !important;
}